<html>
  <head>
    <title>HTTPS Everywhere Atlas</title>
  </head>
  <body>
    <h1><a href="../">HTTPS Everywhere Atlas</a></h1>

    <h2>Domain: {{domain}}</h2>

    <p>TODO: display all the information about this domain here</p>
  </body>
</html>
