<html>
  <head>
    <title>HTTPS Everywhere Atlas</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <h1><a href="index.html">HTTPS Everywhere Atlas</a></h1>

    <h2>Domain: {{domain}}</h2>

    {{{affected_releases}}}

    <hr />
    <p>
    Embedded content loaded from third-party domains (for example, YouTube,
    Google Analytics, ad networks, or CDNs) may also be affected.  You can
    test this by loading the web page ... </p>

    {{#stable_affected}}
    <hr />
    {{#stable_has_enabled}}
    <p>The stable branch contains the following rules that are enabled by
    default:</p>
      {{#stable_enabled}}
      <pre>{{rule_text}}</pre>
      Link to history: <a href="https://gitweb.torproject.org/https-everywhere.git/history/3.0:/src/chrome/content/rules/{{git_link}}">{{git_link}}</a> &nbsp;&nbsp;   <a href="https://trac.torproject.org/">File a bug link</a>
      {{/stable_enabled}}
    {{/stable_has_enabled}}

    {{#stable_has_disabled}}
    The stable branch contains the following rules that are <strong>disabled by
    default</strong> (so very few users' browsing is likely to be affected by
    their action):
      {{#stable_disabled}}
      <pre>{{rule_text}}</pre>
      Link to history: <a href="https://gitweb.torproject.org/https-everywhere.git/history/3.0:/src/chrome/content/rules/{{git_link}}">{{git_link}}</a> &nbsp;&nbsp;   <a href="https://trac.torproject.org/">File a bug link</a>
      {{/stable_disabled}}
    {{/stable_has_disabled}}
    {{/stable_affected}}

    {{#unstable_affected}}
    <hr />
    {{#unstable_has_enabled}}
    The unstable branch contains the following rules that are enabled by
    default:
      {{#unstable_enabled}}
      <pre>{{rule_text}}</pre>
      Link to history: <a href="https://gitweb.torproject.org/https-everywhere.git/history/master:/src/chrome/content/rules/{{git_link}}">{{git_link}}</a> &nbsp;&nbsp;   <a href="https://trac.torproject.org/">File a bug link</a>
      {{/unstable_enabled}}
    {{/unstable_has_enabled}}

    {{#unstable_has_disabled}}
    The unstable branch contains the following rules that are <strong>disabled by
    default</strong> (so very few users' browsing is likely to be affected by
    their action):
      {{#unstable_disabled}}
      <pre>{{rule_text}}</pre>
      Link to history: <a href="https://gitweb.torproject.org/https-everywhere.git/history/master:/src/chrome/content/rules/{{git_link}}">{{git_link}}</a> &nbsp;&nbsp;   <a href="https://trac.torproject.org/">File a bug link</a>
      {{/unstable_disabled}}
    {{/unstable_has_disabled}}
    {{/unstable_affected}}

    <br />
    Notification to webmaster@: {{webmaster_notification}}
    Notification to DNS contact: {{dns_notification}}

  </body>
</html>
