<html>
  <head>
    <title>HTTPS Everywhere Atlas</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div id="wrapper">
      <h1>HTTPS Everywhere Atlas</h1>

      <div id="content">
        <p>Are you a website operator? Click on a letter below to see domain names of sites (beginning with that letter) that HTTPS Everywhere rules affect.</p>

        <div id="letters">
          {{#letters}} <a href="letters/{{letter}}.html">{{letter}}</a> {{/letters}}
        </div>
      </div>
    </div>
  </body>
</html>
